@import "../../styles/code.scss";

.root {
  height: $fmp-common-height;
  width: "100%";
  background-color: $theme-menu-nav;
  align-items: center;
  box-sizing: border-box;
  .title {
    background-color: rgb(60, 109, 93);
    padding: 0px 0 2px 0;
    margin-bottom: 5em;
    text-align: center;
    margin-top: 0;
    // padding: 10px;
    border-bottom: none;
    font-weight: 400;
    font-size: 25px;
    color: white;
    letter-spacing: -2px;
  }
  .profile {
    padding: 50px 0 50px 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: -1px;
  }
}
