@import "./code.scss";

// home
.home {
  height: $fmp-common-height;
  box-sizing: border-box;
  padding: 5em 1em 0 1em;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background: $theme-home-background;

  .emoji {
    font-size: 80px;
  }

  .button {
    margin: 20px;
    background: $theme-home-button;//#CAAD7E;//162472;
    border: 0;
    border-radius: 3;
    box-shadow: 0 3px 5px 2px rgba(131, 144, 166, 0.3);
    color: $theme-header-background;//rgb(0, 0, 0);
    height: 40;
    padding: 0 30px;
    font-size: 17px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

.about {
  height: $fmp-common-height;
  box-sizing: border-box;
  overflow: auto;
  padding: 1em 1em 0 1em;
  
}


.history {
  height: $fmp-common-height;
  box-sizing: border-box;
  overflow: auto;
  padding: 1em 1em 0 1em;
  
}


.answer {
  height: $fmp-common-height;
  box-sizing: border-box;
  overflow: auto;
  padding: 1em 1em 0 1em;
  
}

