
@import "./code.scss";

.home {
    height: $fmp-common-height;
    padding-top: 5em;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    text-align-last: center;
    font-size: 40px;
    font-weight: bold;
    box-sizing: border-box;

    .emoji {
        font-size: 80px;
    }
}