
/*
* define color!
* author: heeye
* latest: 2020-10-31 10:41
*/
$theme-menu-nav: #D5E7B8;//#92c5af;
$theme-main-background: #fffff1;//white;
$theme-home-background: #fffff1;//#f1fff9;
$theme-title-background: #4d7463;//4d7463;
$theme-header-background: rgb(58, 56, 56);
$theme-home-button: #CAAD7E;

/*
color-scheme (from green to beige)
#A7D489
#C4DEA4
#D5E7B8
#F6F6DB
#ECEBC9
#CAAD7E
*/