@import "../../styles/code.scss";

.home-header {
  margin-top: 0;
  padding: 10px;
  border-bottom: none;
  font-weight: 300;
  font-size: 30px;
  color: white;
  letter-spacing: -2px;
  background: $theme-header-background;
}
